*                    { margin: 0; padding: 0; }
body                 { font: 16px Georgia, serif; }

#page-wrap           { margin: 2% auto; color: white; }
#page-wrap > .main   { border: 1px solid #999; padding: 1%; 
	                   margin-bottom: 1px; color: black;}

section > div        { padding: 20px; }
header, nav, section { background: #eee; text-align: center;}
footer               { background: #eee; text-align: center;}
table                { background: #eee; text-align: center;}
nav span             { margin: 0px 10px 0px 0px;}

#ErrorMsgs           { color: #f61; font-size: smaler}
.right               {float: right;}

div.centerTable{ text-align: center;}
div.centerTable table { margin: 0 auto;}

#nombre { float:left; }
#foto { float:right; }

.js-video {
  /*height: 0;*/
  padding-top: 25px;
  /*padding-bottom: 67.5%;*/
  padding-bottom: 33.5%;
  margin-bottom: 10px;
  position: relative;
  overflow: hidden;
}
 
.js-video.widescreen {
  /*padding-bottom: 56.34%;*/
  padding-bottom: 27.96%;
}
 
.js-video.vimeo {
  padding-top: 0;
}

.js-video embed, .js-video iframe, .js-video object, .js-video video {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  max-height: 300px;
  position: absolute;
}

tr.border_top td {
  border-top:2pt solid black;
  padding-top: 15px;
}

tr.border_bottom td {
  border-bottom:2pt solid black;
  padding-bottom: 15px;
  padding-right: 25px;
}