<div id="nombre"><h3>Nombre: </h3>Pedro Marín</div>
<div id="foto">
	<a href="https://www.micro-ges.com">
      <img src="https://www.micro-ges.com/images/LogoColorTextRightTrans.png" class="img-responsive" alt="micro-GES">
    </a>
</div>
<div style="clear:both;"></div>
<div class="js-video [vimeo, widescreen]">
	<iframe width="560" height="315" src="https://www.youtube.com/embed/DTW6deJWQok" frameborder="0" allowfullscreen></iframe>
</div>
